@import 'src/vars';

.rectangular {
    border-radius: 0;
    text-align: center;
    display: block;
    margin: 2rem auto 1rem;
    min-width: 25rem;
    font-size: 1.4rem;
}
/* React Tooltip*/
.extraClass {
 z-index: 2000 !important;
 font-size: 14px !important;
 width:70%;
 left: 0px !important;
 pointer-events: auto !important;
 &:hover {
visibility: visible !important;
opacity: 1 !important;
 }
}
/*React Tooltip*/

/* formular*/
#fieldset {
  padding: 7px;
    background-color: #efefef;
    border: 1px solid #999;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .15);
}
#fieldset.publication, #fieldset.classification {
    margin-top: 30px;
}
#fieldset.request {
    margin: 20px 0 20px 0;
}
input[type=button], input[type=submit], input[type=reset] {
    color: #fff;
    background-color: #D95753;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ac2925;
    border-radius: 4px;
}
input.add {
    background-color: #57B657;
    border-color: #398439;
}
input.add:hover {
    background-color: #6DBF6D;
    border-color: #398439;
}
input.remove:hover {
    color: #fff;
    background-color: #DF6E6B;
    border-color: #ac2925;
}
.addSubjectHeading, .addPersonalHeading {
    margin-top: 5px;
}
.addCreator {
    float: right;
}
input.removeSubjectHeading, input.removePersonHeading {
    margin-left: 5px;
    margin-bottom: 6px;
}
.creator, section {
    border: 1px solid #dadada;
    margin-bottom: 15px;
    padding: 8px;
    background-color: #f9f9f9;
}
.input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;
    color: #555;
}
input.subjectHeading, input.personHeading {
    width: 75%;
}
.half {
    width: 48%;
}
input.name {
    margin-right: 5px;
}
input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
 input:not(:placeholder-shown):invalid {
    background-color: rgba(250, 128, 114, 0.5);
}

/* formular*/
.dat-modal {
    .dat-info {
        margin-bottom: 1.5rem;

        .dat-current {
            color: $brightGreen;
            margin-top: .5rem;
        }
        .dat-current.update-dat{
            color: $warning;
            display: inline-block;
            width: 75%;
            vertical-align: middle;
        }
        button {
            margin-top: 2rem;
        }

        .clipboard {
            vertical-align: top;
            margin-right: 0.4rem;
        }
        input[name="datUrl"] {
            width: 75%;
            display: inline-block;
            height: 30px;
            background: $white;
        }
        .rounded {
            display: inline-block;
            margin-top:0;
            margin-bottom:0.5rem;
            margin-left: 1rem;
            padding: 0.6rem 1.5rem;
            vertical-align: top;
        }
        .rounded.copy-dat {
            padding: 0.6rem 1.4rem;
        }
    }

    .loading-dat {
        h4 {
            text-align: center;
            margin: 2rem 0;
        }

        .dat-note {
            font-size: 1.2rem;
            text-align: center;
        }
    }
}

header.wr-collection-header {
    padding: 1rem 2rem;
    border-bottom: solid .1rem $mgmt-gray;

    .dat-shared {
        background: $brightGreen;
        color: $white;
        font-weight: 600;

        svg{
            vertical-align: top;
        }
    }

    .overview {
        .heading-row {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 1.5rem;
            width: 100%;

            .capstone {
                margin: .5rem 0;
            }

            h1 {
                display: inline-block;
                font-family: $sans;
                margin: 0;
                font-size: 2.2rem;
                font-weight: 400;
                color: $body-gray;
                word-break: break-word;
            }

            .desc {
                position: relative;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                font-size: 1.4rem;

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: 6rem;
                    height: 100%;
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #FFF 100%, #FFF);
                }
            }

            .button-link {
                color: $gray600;
            }
        }


        .menu-row {
            display: flex;
            justify-content: flex-start;
            margin: 1.5rem 0;

            .new-session {
                padding: .7rem 1.2rem;
            }

            sup {
                color: green;
            }

            & > *:not(:first-child) {
                margin-left: .5rem;
            }

            .dropdown-menu > li > a{
              margin: 0;
              padding: 1rem 2rem;
            }

            button#coll-menu {
              width: 3.2rem;
              height: 3.2rem;
              padding: 0;

              svg {
                width: 1.4rem;
                height: .6rem;
              }
            }
        }

        .access-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media(max-width:768px){
    .dat-modal{
        .dat-info{
            input[name="datUrl"]{
                width: 65%;
            }

            .dat-current.update-dat{
                width: 65%;
            }
        }
    }
}
