/* breakpoints */

$xs: 576px; // <=
$sm: 576px; // >=
$md: 768px;
$lg: 992px;
$xl: 1200px;

$bs-button-interactive: "&:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover";

/* fonts */
$serif: "GZA";
$sans: "HKGrotesk";

$mobile: 375px;

/* colors */
$collTrigger: rgb(0, 57, 229);

$pine: #d3e3f0;
$pine-accent: #b4cbde;
$pine-deselect: rgba($pine, 0.5);
$dusty-pine: #a7bed1;
$deep-pine: #676c5b;
$vivid-pine: #8ab1d1;
$matcha: #94a073;
$dried-needle: #ccae83;
$pine-sap: #8bd1e8;
$pine-nut: #b8e9f2;
$redwood: #fe9b7e;

$cf-danger: #ef613b;
$cf-warning: #f8d677;
$cf-success: #26451f;

$dark-blue: #0129c4;
$bookmarkListDefault: rgb(100, 100, 100);
$brightGreen: $vivid-pine;
$buttonHover: #ececec;
$gray200: #f6f6f6;
$gray300: #eeeeee;
$gray350: #d8d8d8;
$gray400: #e0e0e0;
$gray500: #cecece;
$gray525: #9b9b9b;
$gray550: #7e7e7e;
$gray600: #6e6e6e;
$gray650: #636363;
$gray700: #5c5c5c;
$gray800: #545454;
$gray900: #3c3a3a;
$body-gray: #3e3e3e;
$slate: #3e3e3e;
$header: #373944;
$link: #337ab7;
$linkHover: #74b9f3;
$listsBlue: #72d1fe;
$blue: #72d1fe;
$listsYellow: #f9ff95;
$mgmt-gray: #979797;
$sidebarBg: #fff;
$success-color: #26451f;
$tableHeaderBg: #e0e0e0; //gray400
$tr-selected: #babac4;
$tr-highlight-selected: $dusty-pine;
$white: #fff;
$black: #000;
$yellow: rgb(255, 252, 108);
$warning: #d9534f;
$lightWarning: #fff0f0;
$lightBlue: #f2f2ff;
$bright-green-highlight: #72fed1;
$blue-deselect: #f2f2ff;

$table-zebra: #f6f6f6; //gray200

$sidebarHeaderBg: #ededed;
$sidebarHeaderLabel: #6e6e6e;

/* css delays */
$quickShift: 125ms;
$midShift: 200ms;
$slowShift: 300ms;
$tableRowFade: 150ms;

@function rem($size) {
  /*
        scale rems from legacy base 10 to base 16

        regex to replace old settings
        find: (:|\s)([0-9.]+px)(;|\s)
        repl: $1rem($2)$3
    */
  @return $size * 0.625;
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function b16($size) {
  /* scale units from px to base 16 rem */
  @return strip-unit($size) * 0.0625rem;
}
